accounting:
  manager_id: 2 # user id to assign check issues
  project: example/accounting
  email: accounting@example.com
gsuite:
  drive_user: user@example.com # user to put created docs for
gitlab:
  url: https://gitlab.example.com
  salt_project: # apply these settings to projects on setup
    author_email: admin@example.com
    author_name: Admin
    maintainers_group_id: 123
    only_allow_merge_if_pipeline_succeeds: True
    runners:
      dev: dev-runner1.example.com # needed for both salt and salt-ssh to build docker image
      prod: prod-runner1.example.com # needed for salt-ssh to execute salt-ssh and login to the servers
os: # allowed os for servers
  - none
  - precise
  - trusty
  - xenial
  - bionic
  - focal
  - jammy
  - buster
  - 2008ServerR2
  - 2019Server
  - centos7
  - centos8
  - unknown
defaults:
  configuration_management:
    templates:
      ufw_type: ufw
jobs:
  # Every 4 hours
  test_ping:
    type: salt_cmd
    cmd: test.ping
    timeout: 300
    tz: Europe/Kiev
    each:
      hours: 4
    licenses:
      - monitoring
  # 9:00
  ufw:
    type: salt_cmd
    cmd: state.apply ufw queue=True
    timeout: 900
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 9
    minutes:
      - 0
    licenses:
      - firewall
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 9:30
  ufw_simple:
    type: salt_cmd
    cmd: state.apply ufw_simple.ufw_simple queue=True
    timeout: 900
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 9
    minutes:
      - 30
    licenses:
      - firewall
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 10:00
  sysadmws-utils:
    type: salt_cmd
    cmd: state.apply sysadmws-utils queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 10
    minutes:
      - 0
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 10:30
  bulk_log:
    type: salt_cmd
    cmd: state.apply bulk_log queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 10
    minutes:
      - 30
    licenses:
      - monitoring
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 11:00
  disk_alert:
    type: salt_cmd
    cmd: state.apply disk_alert queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 11
    minutes:
      - 0
    licenses:
      - monitoring
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 11:30
  mysql_queries_log:
    type: salt_cmd
    cmd: state.apply mysql_queries_log queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 11
    minutes:
      - 30
    licenses:
      - monitoring
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 12:00
  mysql_replica_checker:
    type: salt_cmd
    cmd: state.apply mysql_replica_checker queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 12
    minutes:
      - 0
    licenses:
      - monitoring
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 12:10
  mysql_increment_checker:
    type: salt_cmd
    cmd: state.apply mysql_increment_checker queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 12
    minutes:
      - 10
    licenses:
      - monitoring
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 12:30
  cmd_check_alert:
    type: salt_cmd
    cmd: state.apply cmd_check_alert queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 12
    minutes:
      - 30
    licenses:
      - monitoring
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 13:00
  notify_devilry:
    type: salt_cmd
    cmd: state.apply notify_devilry queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 13
    minutes:
      - 0
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 13:30
  ssh_keys:
    type: salt_cmd
    cmd: |
      state.apply ssh_keys queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 13
    minutes:
      - 30
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 14:00
  forward_root_email:
    type: salt_cmd
    cmd: |
      state.apply pkg.pkg pillar='{pkg_filter: forward_root_email}' queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 14
    minutes:
      - 0
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 14:30 weekly
  netdata:
    type: salt_cmd
    cmd: state.apply netdata queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      weeks: 1
    hours:
      - 14
    minutes:
      - 30
    licenses:
      - monitoring
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 15:00
  heartbeat_mesh_sender:
    type: salt_cmd
    cmd: state.apply heartbeat_mesh.sender queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 15
    minutes:
      - 0
  # 15:30
  bash_misc:
    type: salt_cmd
    cmd: state.apply bash.misc queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 15
    minutes:
      - 30
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 16:00
  users_unix:
    type: salt_cmd
    cmd: state.apply users.unix queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 16
    minutes:
      - 0
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
  # 16:00
  users_windows:
    type: salt_cmd
    cmd: state.apply users.windows queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 16
    minutes:
      - 0
    os:
      include:
        - 2008ServerR2
        - 2019Server
  # 2:00
  put_check_files:
    type: salt_cmd
    cmd: state.apply rsnapshot_backup.put_check_files queue=True
    timeout: 300
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 2
    minutes:
      - 0
  # 3:00
  rsnapshot_backup:
    type: rsnapshot_backup_ssh
    tz: Europe/Kiev
    each:
      days: 1
    hours:
      - 3
    minutes:
      - 0
    licenses:
      - backup
    os:
      exclude:
        - 2008ServerR2
        - 2019Server
        - unknown
